# Python Quick Tutorial: Data Preprocessing

**Dataset:** Ship Performance Clustering Dataset<br>
**Goal:** Learning the fundamentals of data preprocessing<br>
**General Information:**<br>
Source:<br>
https://www.kaggle.com/datasets/jeleeladekunlefijabi/ship-performance-clustering-dataset<br>
Kaggle-Notebook: https://www.kaggle.com/code/sargeir/python-quick-tutorial-data-preprocessing<br>
Github: https://github.com/Sargei95/data_preprocessing_tutorial/blob/main<br>
Youtube Part 1: https://youtu.be/MDVs-42vyHE<br>
Youtube Part 2: https://youtu.be/BK8h541WBVA<br>

**Content**
1. Libraries
2. Reading data
3. data understanding
4. data types
5. columns
6. subsetting dataframe
7. duplicate rows
8. query a dataframe
9. basic statistics
10. missing data handling
11. groupby and column modification
12. concat and merge data
13. writing data
14. something important

# Libraries

In [1]:
import pandas as pd

# Reading Data

In [2]:
# defining the filepath to the dataset
filepath = 'Ship_Performance_Dataset.csv'
# read the data from csv, with ',' as seperator/delimiter
df_raw = pd.read_csv(filepath, sep = ',')
# we will make a copy of df_raw, since some operations will change your dataframe
df = df_raw.copy()

# Data understanding

In [3]:
# view the data
df.head(5) # <= first 5 rows of the dataset

,Date,Ship_Type,Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
0,2023-06-04,Container Ship,NaN,Heavy Fuel Oil (HFO),Critical,12.597558,2062.983982,1030.943616,14.132284,Moderate,1959.017882,483832.354540,292183.273104,25.867077,1.455179,1.415653,1,93.769249
1,2023-06-11,Fish Carrier,Short-haul,Steam Turbine,Good,10.387580,1796.057415,1060.486382,14.653083,Rough,162.394712,483388.000509,883765.787360,63.248196,0.290361,0.885648,6,93.895372
2,2023-06-18,Container Ship,Long-haul,Diesel,Fair,20.749747,1648.556685,658.874144,7.199261,Moderate,178.040917,448543.404044,394018.746904,49.418150,0.499595,1.405813,9,96.218244
3,2023-06-25,Bulk Carrier,Transoceanic,Steam Turbine,Fair,21.055102,915.261795,1126.822519,11.789063,Moderate,1737.385346,261349.605449,87551.375175,22.409110,0.702906,1.370704,1,66.193698
4,2023-07-02,Fish Carrier,Transoceanic,Diesel,Fair,13.742777,1089.721803,1445.281159,9.727833,Moderate,260.595103,287718.375160,676121.459632,64.158231,1.331343,0.583383,8,80.008581

In [4]:
# sample 5 rows
df.sample(5, random_state = 123)

,Date,Ship_Type,Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
973,2023-07-02,Container Ship,Short-haul,Steam Turbine,Critical,21.264808,1894.516927,1976.856507,8.799665,Calm,1170.583432,476539.829035,429845.026545,22.824884,1.040381,1.435326,8,66.645809
2718,2024-03-03,Tanker,Long-haul,Steam Turbine,Fair,24.915558,2262.392714,1057.025082,10.377553,Rough,1097.089305,417607.066253,857920.657130,18.941427,0.726228,1.229432,8,58.481086
403,2023-07-02,Fish Carrier,Long-haul,NaN,NaN,15.196151,2714.780869,1319.962750,7.565454,Moderate,742.406464,455846.046409,341364.412153,62.829307,1.091861,1.469261,3,57.331576
1597,2023-06-11,Bulk Carrier,Short-haul,Steam Turbine,Critical,10.183887,1773.469572,445.206073,11.756954,Calm,1757.881708,29409.232194,496051.314822,31.348172,0.491395,0.982152,5,68.825060
1612,2023-09-24,Container Ship,Transoceanic,Diesel,Good,20.394435,549.238905,1169.060619,14.526711,Moderate,1709.054162,11980.620911,765140.941373,21.731154,1.458012,1.096992,7,74.410038

In [5]:
# last 5 rows
df.tail(5)

,Date,Ship_Type,Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
2731,2024-06-02,Tanker,Short-haul,Heavy Fuel Oil (HFO),Good,11.607997,2918.395972,239.990359,13.700906,Moderate,318.111891,237975.067292,731584.322921,47.152337,1.000265,1.284895,3,74.813114
2732,2024-06-09,Bulk Carrier,Short-haul,Heavy Fuel Oil (HFO),Good,13.852798,2161.282358,831.355653,14.612775,NaN,218.309002,21029.021721,374365.370930,64.325916,0.653474,0.891085,2,84.595155
2733,2024-06-16,Container Ship,Short-haul,Steam Turbine,Critical,16.813713,1343.608006,1376.460622,9.306518,NaN,1630.646419,78883.312529,234120.365052,53.551090,0.594169,0.725404,6,80.975269
2734,2024-06-23,Tanker,Transoceanic,Heavy Fuel Oil (HFO),Good,23.132643,2028.143572,619.236340,6.623856,Moderate,153.441965,25241.550250,799713.737211,14.335517,0.895670,0.902960,2,92.853622
2735,2024-06-30,Fish Carrier,Coastal,Steam Turbine,Fair,11.527987,2928.588108,1930.235779,14.187652,Moderate,712.997894,55163.241668,382208.021405,63.886256,0.825349,1.289204,2,66.190613

In [6]:
# how many columns and rows
df.shape

(2736, 18)

In [7]:
# length of the dataset
len(df)

2736

In [8]:
# accessing a column of df
df['Ship_Type']

0       Container Ship
1         Fish Carrier
2       Container Ship
3         Bulk Carrier
4         Fish Carrier
             ...
2731            Tanker
2732      Bulk Carrier
2733    Container Ship
2734            Tanker
2735      Fish Carrier
Name: Ship_Type, Length: 2736, dtype: object

In [9]:
# first 5 rows of ship_type column
df['Ship_Type'].head(5)

0    Container Ship
1      Fish Carrier
2    Container Ship
3      Bulk Carrier
4      Fish Carrier
Name: Ship_Type, dtype: object

In [10]:
# Ship_Type columns as dataframe
df[['Ship_Type', 'Route_Type']]

           Ship_Type    Route_Type
0     Container Ship           NaN
1       Fish Carrier    Short-haul
2     Container Ship     Long-haul
3       Bulk Carrier  Transoceanic
4       Fish Carrier  Transoceanic
...              ...           ...
2731          Tanker    Short-haul
2732    Bulk Carrier    Short-haul
2733  Container Ship    Short-haul
2734          Tanker  Transoceanic
2735    Fish Carrier       Coastal

[2736 rows x 2 columns]

# Data types

In [11]:
# overview of data types of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     2736 non-null   object
 1   Ship_Type                2600 non-null   object
 2   Route_Type               2600 non-null   object
 3   Engine_Type              2600 non-null   object
 4   Maintenance_Status       2600 non-null   object
 5   Speed_Over_Ground_knots  2736 non-null   float64
 6   Engine_Power_kW          2736 non-null   float64
 7   Distance_Traveled_nm     2736 non-null   float64
 8   Draft_meters             2736 non-null   float64
 9   Weather_Condition        2600 non-null   object
 10  Cargo_Weight_tons        2736 non-null   float64
 11  Operational_Cost_USD     2736 non-null   float64
 12  Revenue_per_Voyage_USD   2736 non-null   float64
 13  Turnaround_Time_hours    2736 non-null   float64
 14  Efficiency_nm_per_kWh    2736 non-null   float64
 15  Seasonal_Impact_Score    2736 non-null   float64
 16  Weekly_Voyage_Count      2736 non-null   int64
 17  Average_Load_Percentage  2736 non-null   float64
dtypes: float64(11), int64(1), object(6)
memory usage: 384.9+ KB

In [12]:
# changing datatypes
df['Ship_Type'] = df['Ship_Type'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     2736 non-null   object
 1   Ship_Type                2600 non-null   category
 2   Route_Type               2600 non-null   object
 3   Engine_Type              2600 non-null   object
 4   Maintenance_Status       2600 non-null   object
 5   Speed_Over_Ground_knots  2736 non-null   float64
 6   Engine_Power_kW          2736 non-null   float64
 7   Distance_Traveled_nm     2736 non-null   float64
 8   Draft_meters             2736 non-null   float64
 9   Weather_Condition        2600 non-null   object
 10  Cargo_Weight_tons        2736 non-null   float64
 11  Operational_Cost_USD     2736 non-null   float64
 12  Revenue_per_Voyage_USD   2736 non-null   float64
 13  Turnaround_Time_hours    2736 non-null   float64
 14  Efficiency_nm_per_kWh    2736 non-null   float64
 15  Seasonal_Impact_Score    2736 non-null   float64
 16  Weekly_Voyage_Count      2736 non-null   int64
 17  Average_Load_Percentage  2736 non-null   float64
dtypes: category(1), float64(11), int64(1), object(5)
memory usage: 366.4+ KB

In [13]:
# Transform the data type of Date from object to datetime[ns]
df['Date'] = df['Date'].astype('datetime64[ns]')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     2736 non-null   datetime64[ns]
 1   Ship_Type                2600 non-null   category
 2   Route_Type               2600 non-null   object
 3   Engine_Type              2600 non-null   object
 4   Maintenance_Status       2600 non-null   object
 5   Speed_Over_Ground_knots  2736 non-null   float64
 6   Engine_Power_kW          2736 non-null   float64
 7   Distance_Traveled_nm     2736 non-null   float64
 8   Draft_meters             2736 non-null   float64
 9   Weather_Condition        2600 non-null   object
 10  Cargo_Weight_tons        2736 non-null   float64
 11  Operational_Cost_USD     2736 non-null   float64
 12  Revenue_per_Voyage_USD   2736 non-null   float64
 13  Turnaround_Time_hours    2736 non-null   float64
 14  Efficiency_nm_per_kWh    2736 non-null   float64
 15  Seasonal_Impact_Score    2736 non-null   float64
 16  Weekly_Voyage_Count      2736 non-null   int64
 17  Average_Load_Percentage  2736 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(11), int64(1), object(4)
memory usage: 366.4+ KB

In [14]:
# changing now all object types except date to categorical
df_sub = df.select_dtypes(include=['object'])
for col in df_sub.columns:
    df[col] = df[col].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     2736 non-null   datetime64[ns]
 1   Ship_Type                2600 non-null   category
 2   Route_Type               2600 non-null   category
 3   Engine_Type              2600 non-null   category
 4   Maintenance_Status       2600 non-null   category
 5   Speed_Over_Ground_knots  2736 non-null   float64
 6   Engine_Power_kW          2736 non-null   float64
 7   Distance_Traveled_nm     2736 non-null   float64
 8   Draft_meters             2736 non-null   float64
 9   Weather_Condition        2600 non-null   category
 10  Cargo_Weight_tons        2736 non-null   float64
 11  Operational_Cost_USD     2736 non-null   float64
 12  Revenue_per_Voyage_USD   2736 non-null   float64
 13  Turnaround_Time_hours    2736 non-null   float64
 14  Efficiency_nm_per_kWh    2736 non-null   float64
 15  Seasonal_Impact_Score    2736 non-null   float64
 16  Weekly_Voyage_Count      2736 non-null   int64
 17  Average_Load_Percentage  2736 non-null   float64
dtypes: category(5), datetime64[ns](1), float64(11), int64(1)
memory usage: 292.1 KB

# Columns

In [15]:
# get the columns names
df.columns

Index(['Date', 'Ship_Type', 'Route_Type', 'Engine_Type', 'Maintenance_Status',
       'Speed_Over_Ground_knots', 'Engine_Power_kW', 'Distance_Traveled_nm',
       'Draft_meters', 'Weather_Condition', 'Cargo_Weight_tons',
       'Operational_Cost_USD', 'Revenue_per_Voyage_USD',
       'Turnaround_Time_hours', 'Efficiency_nm_per_kWh',
       'Seasonal_Impact_Score', 'Weekly_Voyage_Count',
       'Average_Load_Percentage'],
      dtype='object')

In [16]:
# iterate through the col names
for col in df.columns:
    print(col)

Date
Ship_Type
Route_Type
Engine_Type
Maintenance_Status
Speed_Over_Ground_knots
Engine_Power_kW
Distance_Traveled_nm
Draft_meters
Weather_Condition
Cargo_Weight_tons
Operational_Cost_USD
Revenue_per_Voyage_USD
Turnaround_Time_hours
Efficiency_nm_per_kWh
Seasonal_Impact_Score
Weekly_Voyage_Count
Average_Load_Percentage

In [17]:
# renaming a column
df = df.rename(columns={
    'Ship_Type': 'New_Ship_Type',
    'Route_Type': 'New_Route_Type'
})
df.head(5)

,Date,New_Ship_Type,New_Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
0,2023-06-04,Container Ship,NaN,Heavy Fuel Oil (HFO),Critical,12.597558,2062.983982,1030.943616,14.132284,Moderate,1959.017882,483832.354540,292183.273104,25.867077,1.455179,1.415653,1,93.769249
1,2023-06-11,Fish Carrier,Short-haul,Steam Turbine,Good,10.387580,1796.057415,1060.486382,14.653083,Rough,162.394712,483388.000509,883765.787360,63.248196,0.290361,0.885648,6,93.895372
2,2023-06-18,Container Ship,Long-haul,Diesel,Fair,20.749747,1648.556685,658.874144,7.199261,Moderate,178.040917,448543.404044,394018.746904,49.418150,0.499595,1.405813,9,96.218244
3,2023-06-25,Bulk Carrier,Transoceanic,Steam Turbine,Fair,21.055102,915.261795,1126.822519,11.789063,Moderate,1737.385346,261349.605449,87551.375175,22.409110,0.702906,1.370704,1,66.193698
4,2023-07-02,Fish Carrier,Transoceanic,Diesel,Fair,13.742777,1089.721803,1445.281159,9.727833,Moderate,260.595103,287718.375160,676121.459632,64.158231,1.331343,0.583383,8,80.008581

In [18]:
# drop a column
df = df.drop(['Date'], axis = 1)
df.head(5)

,New_Ship_Type,New_Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
0,Container Ship,NaN,Heavy Fuel Oil (HFO),Critical,12.597558,2062.983982,1030.943616,14.132284,Moderate,1959.017882,483832.354540,292183.273104,25.867077,1.455179,1.415653,1,93.769249
1,Fish Carrier,Short-haul,Steam Turbine,Good,10.387580,1796.057415,1060.486382,14.653083,Rough,162.394712,483388.000509,883765.787360,63.248196,0.290361,0.885648,6,93.895372
2,Container Ship,Long-haul,Diesel,Fair,20.749747,1648.556685,658.874144,7.199261,Moderate,178.040917,448543.404044,394018.746904,49.418150,0.499595,1.405813,9,96.218244
3,Bulk Carrier,Transoceanic,Steam Turbine,Fair,21.055102,915.261795,1126.822519,11.789063,Moderate,1737.385346,261349.605449,87551.375175,22.409110,0.702906,1.370704,1,66.193698
4,Fish Carrier,Transoceanic,Diesel,Fair,13.742777,1089.721803,1445.281159,9.727833,Moderate,260.595103,287718.375160,676121.459632,64.158231,1.331343,0.583383,8,80.008581

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   New_Ship_Type            2600 non-null   category
 1   New_Route_Type           2600 non-null   category
 2   Engine_Type              2600 non-null   category
 3   Maintenance_Status       2600 non-null   category
 4   Speed_Over_Ground_knots  2736 non-null   float64
 5   Engine_Power_kW          2736 non-null   float64
 6   Distance_Traveled_nm     2736 non-null   float64
 7   Draft_meters             2736 non-null   float64
 8   Weather_Condition        2600 non-null   category
 9   Cargo_Weight_tons        2736 non-null   float64
 10  Operational_Cost_USD     2736 non-null   float64
 11  Revenue_per_Voyage_USD   2736 non-null   float64
 12  Turnaround_Time_hours    2736 non-null   float64
 13  Efficiency_nm_per_kWh    2736 non-null   float64
 14  Seasonal_Impact_Score    2736 non-null   float64
 15  Weekly_Voyage_Count      2736 non-null   int64
 16  Average_Load_Percentage  2736 non-null   float64
dtypes: category(5), float64(11), int64(1)
memory usage: 270.8 KB

# Subset a dataframe

In [20]:
# get all column names
df.columns

Index(['New_Ship_Type', 'New_Route_Type', 'Engine_Type', 'Maintenance_Status',
       'Speed_Over_Ground_knots', 'Engine_Power_kW', 'Distance_Traveled_nm',
       'Draft_meters', 'Weather_Condition', 'Cargo_Weight_tons',
       'Operational_Cost_USD', 'Revenue_per_Voyage_USD',
       'Turnaround_Time_hours', 'Efficiency_nm_per_kWh',
       'Seasonal_Impact_Score', 'Weekly_Voyage_Count',
       'Average_Load_Percentage'],
      dtype='object')

In [21]:
# subset the dataframe with inserting only column names we want
df_subset = df[['New_Ship_Type', 'New_Route_Type', 'Engine_Type', 
                'Weather_Condition']].copy()
df_subset.head(5)
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   New_Ship_Type      2600 non-null   category
 1   New_Route_Type     2600 non-null   category
 2   Engine_Type        2600 non-null   category
 3   Weather_Condition  2600 non-null   category
dtypes: category(4)
memory usage: 11.5 KB

In [22]:
# filter the dataset by rows
df_new = df.loc[(df['Speed_Over_Ground_knots'] >= 21) & ~(df['Maintenance_Status'] == 'Good')].copy()

In [23]:
df_new.head(5)

,New_Ship_Type,New_Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
3,Bulk Carrier,Transoceanic,Steam Turbine,Fair,21.055102,915.261795,1126.822519,11.789063,Moderate,1737.385346,261349.605449,87551.375175,22.409110,0.702906,1.370704,1,66.193698
7,Container Ship,Short-haul,Diesel,Critical,23.498048,814.806452,1717.328413,9.283780,Moderate,318.449265,348380.608232,462211.402199,52.478600,0.695975,1.408663,6,94.591972
9,Container Ship,Long-haul,Diesel,Fair,23.227101,2685.401654,1588.792282,11.721261,Calm,1843.438252,149790.209291,615230.857491,63.742761,0.440676,1.435569,2,79.451330
18,Fish Carrier,Coastal,Diesel,Critical,23.764287,1771.769485,1061.932973,8.521647,Calm,1694.169548,118688.619753,285852.409715,40.866982,0.836630,0.785544,3,94.856797
20,Container Ship,NaN,Diesel,Critical,23.803847,1120.699241,1169.478497,10.544799,Rough,1084.255595,377335.182851,371301.210298,57.593604,1.262367,1.417901,8,83.443228

# Duplicate Rows

In [24]:
# get all rows with duplicates
df.loc[df.duplicated()]

Empty DataFrame
Columns: [New_Ship_Type, New_Route_Type, Engine_Type, Maintenance_Status, Speed_Over_Ground_knots, Engine_Power_kW, Distance_Traveled_nm, Draft_meters, Weather_Condition, Cargo_Weight_tons, Operational_Cost_USD, Revenue_per_Voyage_USD, Turnaround_Time_hours, Efficiency_nm_per_kWh, Seasonal_Impact_Score, Weekly_Voyage_Count, Average_Load_Percentage]
Index: []

In [25]:
# delete duplicate rows
df_no_duplicates = df.loc[~df.duplicated()].reset_index(drop=True).copy()

# Query a dataframe

In [26]:
# define a variable shiptype for using in the query
shiptype = 'Bulk Carrier'
# query dataframe with our variable shiptype
df.query('(New_Ship_Type == @shiptype) & (New_Route_Type == "Transoceanic")').head()

,New_Ship_Type,New_Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
3,Bulk Carrier,Transoceanic,Steam Turbine,Fair,21.055102,915.261795,1126.822519,11.789063,Moderate,1737.385346,261349.605449,87551.375175,22.409110,0.702906,1.370704,1,66.193698
16,Bulk Carrier,Transoceanic,Heavy Fuel Oil (HFO),Critical,20.737838,2525.672897,1813.945568,10.943832,Rough,1552.224990,270793.680421,475171.911477,38.777081,1.334823,0.687532,2,80.728557
46,Bulk Carrier,Transoceanic,Diesel,Critical,12.794516,655.585416,993.388381,5.985634,Moderate,208.425991,441678.964322,449403.743915,65.428044,1.124000,1.227963,4,98.375013
73,Bulk Carrier,Transoceanic,Steam Turbine,Critical,15.815964,1131.995392,1588.179276,14.723086,Calm,949.752650,49758.208401,643770.940461,63.067166,0.269726,1.369252,8,68.439722
74,Bulk Carrier,Transoceanic,Heavy Fuel Oil (HFO),Critical,22.949940,2568.998563,582.166633,13.400490,NaN,501.491193,93327.176874,652250.187012,50.697667,0.189981,0.861327,3,81.625319

# Basic Statistics

In [27]:
# summary of numerical values
df.describe()

,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
count,2736.000000,2736.000000,2736.000000,2736.000000,2736.000000,2736.000000,2736.000000,2736.000000,2736.000000,2736.000000,2736.000000,2736.000000
mean,17.602863,1757.610939,1036.406203,9.929103,1032.573264,255143.344488,521362.062011,41.747536,0.798656,1.003816,4.914839,75.219222
std,4.311979,717.002777,568.632080,2.876423,558.697499,140890.482189,271211.625499,17.633130,0.403590,0.288251,2.597647,14.510168
min,10.009756,501.025220,50.433150,5.001947,50.229624,10092.306318,50351.814447,12.019909,0.100211,0.500004,1.000000,50.012005
25%,13.928452,1148.104914,548.511573,7.437485,553.983629,131293.378767,290346.388017,26.173537,0.463592,0.758033,3.000000,62.703724
50%,17.713757,1757.494344,1037.816060,9.918965,1043.207497,257157.653226,520176.931762,41.585188,0.789877,1.009009,5.000000,75.504709
75%,21.284785,2382.594292,1540.934161,12.413149,1527.722391,381796.930499,750072.791216,57.363922,1.147426,1.252808,7.000000,87.721205
max,24.997043,2998.734329,1998.337057,14.992947,1999.126697,499734.867868,999916.696140,71.972415,1.499259,1.499224,9.000000,99.999643

In [28]:
# basic statistics for categorical
df[['New_Ship_Type', 'Maintenance_Status']].describe()

       New_Ship_Type Maintenance_Status
count           2600               2600
unique             4                  3
top     Bulk Carrier               Good
freq             669                873

In [29]:
# basic statistics for categorical and numerical
df[['New_Ship_Type', 'Speed_Over_Ground_knots']].describe()
# => this will only show the values for numerical data
# => important to use describe() seperately for categorical and numerical data

       Speed_Over_Ground_knots
count              2736.000000
mean                 17.602863
std                   4.311979
min                  10.009756
25%                  13.928452
50%                  17.713757
75%                  21.284785
max                  24.997043

In [30]:
# get the mean value
df['Speed_Over_Ground_knots'].mean()
# get the count value
df['Speed_Over_Ground_knots'].count()
# get the standard deviation
df['Speed_Over_Ground_knots'].std()
# get the minimum value
df['Speed_Over_Ground_knots'].min()
# get the maximum value
df['Speed_Over_Ground_knots'].max()
# get the quantile value between 25% and 50% for example
df['Speed_Over_Ground_knots'].quantile([0.25, 0.5])

0.25    13.928452
0.50    17.713757
Name: Speed_Over_Ground_knots, dtype: float64

In [31]:
# aggregrate specific statistics
df[['Speed_Over_Ground_knots', 'Engine_Power_kW']].agg(['mean','max', 'std'])

      Speed_Over_Ground_knots  Engine_Power_kW
mean                17.602863      1757.610939
max                 24.997043      2998.734329
std                  4.311979       717.002777

In [32]:
df['New_Ship_Type'].unique() # levels of our categorical variable
df['New_Ship_Type'].nunique() # number of levels
df['New_Ship_Type'].value_counts() # frequency
df['New_Ship_Type'].value_counts(normalize = True) # normalize = true => relative frequency

New_Ship_Type
Bulk Carrier      0.257308
Fish Carrier      0.251154
Tanker            0.247308
Container Ship    0.244231
Name: proportion, dtype: float64

# Missing Data Handling

In [33]:
# how many NaN in a specific columns
df[['New_Ship_Type']].isna().sum()

New_Ship_Type    136
dtype: int64

In [34]:
# dropping rows with NaN values
df.dropna(subset = 'New_Ship_Type')

,New_Ship_Type,New_Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
0,Container Ship,NaN,Heavy Fuel Oil (HFO),Critical,12.597558,2062.983982,1030.943616,14.132284,Moderate,1959.017882,483832.354540,292183.273104,25.867077,1.455179,1.415653,1,93.769249
1,Fish Carrier,Short-haul,Steam Turbine,Good,10.387580,1796.057415,1060.486382,14.653083,Rough,162.394712,483388.000509,883765.787360,63.248196,0.290361,0.885648,6,93.895372
2,Container Ship,Long-haul,Diesel,Fair,20.749747,1648.556685,658.874144,7.199261,Moderate,178.040917,448543.404044,394018.746904,49.418150,0.499595,1.405813,9,96.218244
3,Bulk Carrier,Transoceanic,Steam Turbine,Fair,21.055102,915.261795,1126.822519,11.789063,Moderate,1737.385346,261349.605449,87551.375175,22.409110,0.702906,1.370704,1,66.193698
4,Fish Carrier,Transoceanic,Diesel,Fair,13.742777,1089.721803,1445.281159,9.727833,Moderate,260.595103,287718.375160,676121.459632,64.158231,1.331343,0.583383,8,80.008581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2731,Tanker,Short-haul,Heavy Fuel Oil (HFO),Good,11.607997,2918.395972,239.990359,13.700906,Moderate,318.111891,237975.067292,731584.322921,47.152337,1.000265,1.284895,3,74.813114
2732,Bulk Carrier,Short-haul,Heavy Fuel Oil (HFO),Good,13.852798,2161.282358,831.355653,14.612775,NaN,218.309002,21029.021721,374365.370930,64.325916,0.653474,0.891085,2,84.595155
2733,Container Ship,Short-haul,Steam Turbine,Critical,16.813713,1343.608006,1376.460622,9.306518,NaN,1630.646419,78883.312529,234120.365052,53.551090,0.594169,0.725404,6,80.975269
2734,Tanker,Transoceanic,Heavy Fuel Oil (HFO),Good,23.132643,2028.143572,619.236340,6.623856,Moderate,153.441965,25241.550250,799713.737211,14.335517,0.895670,0.902960,2,92.853622
2735,Fish Carrier,Coastal,Steam Turbine,Fair,11.527987,2928.588108,1930.235779,14.187652,Moderate,712.997894,55163.241668,382208.021405,63.886256,0.825349,1.289204,2,66.190613

In [35]:
# Fill NaN Values with some data
# here we will insert the mean value of Speed_Over_Ground_knots for the NaN values
df[['Speed_Over_Ground_knots']] = df[['Speed_Over_Ground_knots']].fillna(df['Speed_Over_Ground_knots'].mean())
df.sample(100, random_state = 123)

,New_Ship_Type,New_Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage
973,Container Ship,Short-haul,Steam Turbine,Critical,21.264808,1894.516927,1976.856507,8.799665,Calm,1170.583432,476539.829035,429845.026545,22.824884,1.040381,1.435326,8,66.645809
2718,Tanker,Long-haul,Steam Turbine,Fair,24.915558,2262.392714,1057.025082,10.377553,Rough,1097.089305,417607.066253,857920.657130,18.941427,0.726228,1.229432,8,58.481086
403,Fish Carrier,Long-haul,NaN,NaN,15.196151,2714.780869,1319.962750,7.565454,Moderate,742.406464,455846.046409,341364.412153,62.829307,1.091861,1.469261,3,57.331576
1597,Bulk Carrier,Short-haul,Steam Turbine,Critical,10.183887,1773.469572,445.206073,11.756954,Calm,1757.881708,29409.232194,496051.314822,31.348172,0.491395,0.982152,5,68.825060
1612,Container Ship,Transoceanic,Diesel,Good,20.394435,549.238905,1169.060619,14.526711,Moderate,1709.054162,11980.620911,765140.941373,21.731154,1.458012,1.096992,7,74.410038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,Tanker,Short-haul,Steam Turbine,Fair,21.981507,1805.225550,1117.264971,13.049126,Moderate,953.530153,341995.230755,251009.372295,21.703441,0.745937,1.015165,6,77.303141
1126,Tanker,Transoceanic,Diesel,Fair,16.788739,1185.249332,1291.972092,11.055843,Moderate,449.433595,259124.728516,630376.189254,44.327232,1.208345,1.348646,7,52.587718
1335,Tanker,Long-haul,Heavy Fuel Oil (HFO),Good,10.596248,2233.348284,1621.805630,9.317323,Calm,389.519240,19539.281715,684941.353342,60.470468,0.298423,1.381976,3,95.062978
2349,Bulk Carrier,Coastal,Steam Turbine,Fair,13.048271,2961.096203,978.559514,11.037404,Rough,995.865003,36396.639643,982623.389817,26.675054,0.143047,0.558546,8,92.056596
667,Container Ship,Coastal,Heavy Fuel Oil (HFO),Good,24.334221,928.176591,279.033425,11.242727,Moderate,798.078339,88825.584863,467933.054579,16.804536,1.400151,1.422443,2,67.035073

# Group and column modification

In [5]:
# Groups the DataFrame by 'Weather_Condition' and provides descriptive statistics 
# (like count, unique, top, freq) for the 'Ship_Type' and 'Route_Type' columns within each group.
df.groupby('Weather_Condition')[['Ship_Type', 'Route_Type']].describe()
# the same but for some specific values we want
df_new = df.groupby('Weather_Condition')[['Ship_Type', 'Route_Type']].describe()
# Flattens the MultiIndex column names in df_new by joining tuple elements with an underscore
df_new.columns = ['_'.join(col) for col in df_new.columns]
df_new

,Ship_Type_count,Ship_Type_unique,Ship_Type_top,Ship_Type_freq,Route_Type_count,Route_Type_unique,Route_Type_top,Route_Type_freq
Weather_Condition,,,,,,,,
Calm,845,4,Container Ship,224,843,4,Long-haul,245
Moderate,851,4,Bulk Carrier,226,850,4,Short-haul,222
Rough,774,4,Tanker,215,776,4,Coastal,202

In [7]:
# Modification on existing columns
df['Deviation_Speed_Over_Ground_knots'] = df['Speed_Over_Ground_knots'] - df['Speed_Over_Ground_knots'].mean()

In [8]:
df.head()

,Date,Ship_Type,Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage,Deviation_Speed_Over_Ground_knots
0,2023-06-04,Container Ship,NaN,Heavy Fuel Oil (HFO),Critical,12.597558,2062.983982,1030.943616,14.132284,Moderate,1959.017882,483832.354540,292183.273104,25.867077,1.455179,1.415653,1,93.769249,-5.005306
1,2023-06-11,Fish Carrier,Short-haul,Steam Turbine,Good,10.387580,1796.057415,1060.486382,14.653083,Rough,162.394712,483388.000509,883765.787360,63.248196,0.290361,0.885648,6,93.895372,-7.215283
2,2023-06-18,Container Ship,Long-haul,Diesel,Fair,20.749747,1648.556685,658.874144,7.199261,Moderate,178.040917,448543.404044,394018.746904,49.418150,0.499595,1.405813,9,96.218244,3.146883
3,2023-06-25,Bulk Carrier,Transoceanic,Steam Turbine,Fair,21.055102,915.261795,1126.822519,11.789063,Moderate,1737.385346,261349.605449,87551.375175,22.409110,0.702906,1.370704,1,66.193698,3.452239
4,2023-07-02,Fish Carrier,Transoceanic,Diesel,Fair,13.742777,1089.721803,1445.281159,9.727833,Moderate,260.595103,287718.375160,676121.459632,64.158231,1.331343,0.583383,8,80.008581,-3.860087

In [10]:
# Sorting Dataframe
df.sort_values('Date', ascending = False).reset_index(drop=True)

,Date,Ship_Type,Route_Type,Engine_Type,Maintenance_Status,Speed_Over_Ground_knots,Engine_Power_kW,Distance_Traveled_nm,Draft_meters,Weather_Condition,Cargo_Weight_tons,Operational_Cost_USD,Revenue_per_Voyage_USD,Turnaround_Time_hours,Efficiency_nm_per_kWh,Seasonal_Impact_Score,Weekly_Voyage_Count,Average_Load_Percentage,Deviation_Speed_Over_Ground_knots
0,2024-06-30,Fish Carrier,Coastal,Steam Turbine,Fair,11.527987,2928.588108,1930.235779,14.187652,Moderate,712.997894,55163.241668,382208.021405,63.886256,0.825349,1.289204,2,66.190613,-6.074877
1,2024-06-30,Tanker,Transoceanic,Steam Turbine,Fair,10.337648,2147.518141,809.660190,11.141038,Rough,1792.205180,20842.246722,159000.380324,15.307329,0.405371,1.024834,5,63.528828,-7.265215
2,2024-06-30,Tanker,Transoceanic,Diesel,Critical,21.900233,941.703899,1453.977683,13.171704,Calm,585.349830,268063.661449,512020.023726,65.376534,1.385960,0.631238,4,88.962958,4.297370
3,2024-06-30,Bulk Carrier,Short-haul,Steam Turbine,Critical,24.610803,2131.641875,916.507977,7.187985,Calm,901.521708,180715.249573,615039.430767,39.838749,1.437063,0.737736,9,84.574841,7.007940
4,2024-06-30,Container Ship,Long-haul,Diesel,Good,17.230818,829.616391,824.769133,8.375318,Moderate,847.418070,50516.731508,54166.698048,30.820711,1.111578,0.679871,7,79.871048,-0.372045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2731,2023-06-04,Container Ship,Short-haul,Diesel,Fair,19.109804,2966.124546,860.690725,9.354574,Calm,334.427520,84391.650883,635249.763903,67.793114,0.177664,0.690389,9,53.611150,1.506940
2732,2023-06-04,Bulk Carrier,Short-haul,Steam Turbine,Fair,19.275233,2718.926274,454.972842,14.721193,Moderate,173.843679,372962.664102,719356.960441,13.979439,1.279359,1.433143,5,96.753512,1.672370
2733,2023-06-04,Fish Carrier,Coastal,Heavy Fuel Oil (HFO),Critical,13.079719,2185.178818,1800.357058,7.757036,Moderate,1979.032783,105970.289045,841841.272919,21.978180,1.278433,0.507597,4,61.951208,-4.523144
2734,2023-06-04,Container Ship,Transoceanic,Diesel,Critical,11.038777,2127.370172,1686.571636,9.731643,Moderate,247.434820,198310.242642,967264.566429,16.171259,1.329356,0.519284,3,81.208663,-6.564086
2735,2023-06-04,Bulk Carrier,Transoceanic,Steam Turbine,NaN,24.781994,2971.737106,742.606995,11.854176,Calm,1241.495592,322287.552859,90322.237184,47.222537,0.984801,1.086081,6,67.953342,7.179131

# Concat and merge data

In [13]:
df1 = pd.DataFrame({
    'ID': [1,2,3],
    'Name': ['Christine', 'Liv', 'Gracie']
})

df2 = pd.DataFrame({
    'ID': [4,5],
    'Name': ['Ana', 'Julia']
})

In [14]:
df1

   ID       Name
0   1  Christine
1   2        Liv
2   3     Gracie

In [15]:
df2

   ID   Name
0   4    Ana
1   5  Julia

In [18]:
# concatenate the two dataframes
# along rows by default
df_combined = pd.concat([df1,df2]).reset_index(drop=True)
df_combined

   ID       Name
0   1  Christine
1   2        Liv
2   3     Gracie
3   4        Ana
4   5      Julia

In [19]:
df_employees = pd.DataFrame({
    'EmployeeID': [1,2,3],
    'Name': ['Christine', 'Liv', 'Gracie']
})

df_departments = pd.DataFrame({
    'EmployeeID': [2,3,4],
    'Departments': ['HR', 'IT', 'Managment']
})

In [20]:
df_employees

   EmployeeID       Name
0           1  Christine
1           2        Liv
2           3     Gracie

In [21]:
df_departments

   EmployeeID Departments
0           2          HR
1           3          IT
2           4   Managment

In [23]:
df_merged = pd.merge(df_employees, df_departments,
                    on='EmployeeID',
                    how='left')
df_merged

   EmployeeID       Name Departments
0           1  Christine         NaN
1           2        Liv          HR
2           3     Gracie          IT

In [24]:
df_merged = pd.merge(df_employees, df_departments,
                    on='EmployeeID',
                    how='inner')
df_merged

   EmployeeID    Name Departments
0           2     Liv          HR
1           3  Gracie          IT

In [25]:
df_merged = pd.merge(df_employees, df_departments,
                    on='EmployeeID',
                    how='right')
df_merged

   EmployeeID    Name Departments
0           2     Liv          HR
1           3  Gracie          IT
2           4     NaN   Managment

In [26]:
df_merged = pd.merge(df_employees, df_departments,
                    on='EmployeeID',
                    how='outer')
df_merged

   EmployeeID       Name Departments
0           1  Christine         NaN
1           2        Liv          HR
2           3     Gracie          IT
3           4        NaN   Managment

# Writing data to csv/excel

In [28]:
# saving dataframe to excel
df_merged.to_excel('employee.xlsx', index=False)
df_merged.to_csv('employee.csv')